.td-item {
  border-bottom: solid rgb(177, 177, 177) 1px;
  padding: 10px;
  font-weight: 400;
  text-align: center;
  /* color: rgb(133, 133, 133); */
  /* display:flex;
  align-items:center */
}
table {
  border-collapse: collapse;
}
.th-item {
  padding: 20px;

  border-bottom: solid rgb(177, 177, 177) 3px;
}
